<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>ng-todo-dragdrop</span>
    <div class="spacer"></div>
</div>

<div class="container">
  <h2>shopping list:</h2>
  <div
    cdkDropList
    #todosList="cdkDropList"
    [cdkDropListData]="ShoppingList"
    class="todo-list"
    (cdkDropListDropped)="onDrop($event)">
  <div class="todo-block" *ngFor="let shoppingList of ShoppingList" cdkDrag>{{shoppingList | json}}</div>
</div>

<div class="content" role="main">
  <div class="container">
    <form [formGroup]="todoForm">
      <mat-form-field class="example-full-width">
        <mat-label>add toto</mat-label>
        <input matInput placeholder="go shopping" formControlName="todoInput">
      </mat-form-field>
      <button mat-raised-button color="primary" class="button" type="submit" (click)="addTodo(this.todoInput)">Add todo</button>
    </form>

    <h2>todo's:</h2>
    <div
            cdkDropList
            #todosList="cdkDropList"
            [cdkDropListData]="TodosList"
            [cdkDropListConnectedTo]="[doneTotosList]"
            class="todo-list"
            (cdkDropListDropped)="onDrop($event)">
      <div class="todo-block" *ngFor="let todosList of TodosList" cdkDrag>{{todosList}}</div>
    </div>
  </div>

  <div class="container">
    <h2>done:</h2>
    <div
            cdkDropList
            #doneTotosList="cdkDropList"
            [cdkDropListData]="DoneTodosList"
            [cdkDropListConnectedTo]="[todosList]"
            class="todo-list"
            (cdkDropListDropped)="onDrop($event)">
      <div class="todo-block" *ngFor="let doneTodosList of DoneTodosList" cdkDrag>
          {{doneTodosList}}
          <button mat-button color="warn" (click)="deleteTodo(doneTodosList)">delete</button>
      </div>
    </div>
  </div>
</div>


